<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/product.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <section id="product">
            <div id="add-product-info">
                <fieldset>
                    <legend>Product name</legend>
                    <input type="text" name="" id="">
                </fieldset>
                <fieldset>
                    <legend>Product description</legend>
                    <textarea name="" id=""></textarea>
                    <p>
                        Give as much detail as posible to help with discovery. Only the first 175 characters will be shown on the main store page.
                    </p>
                </fieldset>
                <!-- <fieldset>
                    <legend></legend>
                </fieldset> -->
                <div id="price">
                    <fieldset>
                        <legend>New price</legend>
                        <input type="text" name="" id="">
                    </fieldset>
                    <fieldset>
                        <legend>Old price <i>i</i></legend>
                        <input type="text" name="" id="">
                    </fieldset>
                </div>
                <fieldset>
                    <legend>Number of items in stock</legend>
                    <input type="text">
                </fieldset>
                <fieldset>
                    <legend>International categories</legend>
                    <input type="text" name="" id="">
                </fieldset>
                <fieldset>
                    <legend>Items classfication</legend>
                    <select name="" id=""></select>
                </fieldset>
            </div>
            <div id="add-product-content">
                <div class="drop-img">
                    d
                </div>
            </div>
        </section>
        <section id="pending-product">

        </section>
        <section id="sold-product"></section>
    </main>
    <footer></footer>
</body>
</html>